.user-input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.user-input-container input {
  width: 300px;
  height: 50px;
  padding: 0 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
}

.user-input-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.user-list {
  overflow-y: scroll;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  border: 1px solid #acacac;
  padding: 0;
  margin: 0;
}

.user-list li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 1px solid #acacac;
  padding: 3px;
}

.user-list li:hover {
  background-color: #acacac;
}

.user-list li img {
  width: 5%;
  margin: 0 10px;
}

.user-pills {
  color: #fcfcfc;
  background-color: rebeccapurple;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
}

.user-pills img {
  width: 5%;
  margin: 0 10px;
}

.user-pills-close {
  cursor: pointer;
  color: #acacac;
  margin: 0 5px;
}